<header class="{{page.layout}}">
	<nav class="container" style="padding:0;">
		<div class="row">
			<div class="navbar col-md-8 col-md-offset-2 col-xs-12">
				<div class="brand">
					<a href="{{ site.baseurl}} "><img src="/assets/img/logo_r.svg" alt="{{ site.title }}"></a>
				</div>
				<div class="menu menu-right">
					<ul>
						{% assign sorted_pages = site.pages | sort:"order" %}
		          {% for item in sorted_pages %}
		          	{% if item.order %}
		            	<li><a href="{{item.url}}">{{item.title}}</a></li>
		            {% endif %}
		          {% endfor %}
						</ul>
				</div>
			</div>
		</div>
		<div class="header-img row">
			<div class="col-md-8 col-md-offset-2 col-xs-12">
				{% if page.featured_img %}
					<div class="cover-img" style="background-image: url(https://placehold.it/100x100)">
						
					</div>
				{% endif%}
			</div>
		</div>
	</nav>
	
</header>