<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@jaapbakker">
<meta name="twitter:title" content="{% if page.ogtitle %}{{ page.ogtitle }}{% elsif page.title %}{{ page.title }}{% else %}{{ 'Independent webdesign & development' }}{% endif %} | Bakker Labs">
<meta name="twitter:description" content="Bakker Labs is an independent development and design studio based in Amsterdam. We've built apps and websites used by millions of people. Get in touch with us today.">
<meta name="twitter:image" content="https://bakkerlabs.nl/assets/img/bl-logo.png" />
