<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Bakker Labs</title>

{% if page.description %}<meta name="description" content="{{ page.description }}" />{% else %}<meta name="description" content="{{ site.description }}" />{% endif %}
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% else %}<meta name="keywords" content="{{ site.keywords }}" />{% endif %}

<meta name="twitter:card" content="{% if page.img %}summary_large_image{% else %}summary{% endif %}">
<meta name="twitter:site" content="@jaapbakker">
<meta name="twitter:title" content="{% if page.ogtitle %}{{ page.ogtitle }}{% elsif page.title %}{{ page.title }}{% else %}{{ 'Independent webdesign & development' }}{% endif %} | Bakker Labs">
<meta name="twitter:description" content="Bakker Labs is an independent development and design studio based in Amsterdam. We've built apps and websites used by millions of people. Get in touch with us today.">
<meta name="twitter:image" content="{% if page.img %}{{ site.baseurl }}/posts/{{page.img}}{% else %}https://bakkerlabs.nl/assets/img/bl-logo.png{% endif %}" />
