$background: #f8f8ff;
$dark: lighten(black, 19%);
$primary-brand: #715CAB;
$white: #fff;

body {
	background: $background;
	color: $dark;
}

a {
	color: $primary-brand;
	&:hover {
		color: lighten($primary-brand, 19%);
	}
}