header {
	
	&.blog, &.post {
		min-height: 40vh;
		.container {height: 40vh; position: relative;}
	}
	h1 {
		/* Rectangle: */
		position: absolute;
		top: 0; right: 0;
		background-image: -webkit-linear-gradient(42deg, #8272AE 0%, #715CAB 100%),;
		background-image: -o-linear-gradient(42deg, #8272AE 0%, #715CAB 100%),;
		background-image: linear-gradient(132deg, #8272AE 0%, #715CAB 100%);
		color: #fff;
		padding: 1em 1em 1em 2em;
		margin: 0;
		text-align: center;
		display: inline-block;
	}
	.menu {
		ul {
			margin: 0;
			padding-top: 1em;
		}		
	}
	h1,h2,h3,h4,h5,h6 {
		a {
			color: $white;
		}
	}
	.inner {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center; 
		h2 {
		text-align: center;
		}
	}
	
}

.profile {}

.contactform {}

.article_list{}

.article_list--single {
	margin-top: 2em;
	padding: 1em; 
	border-right: 1px solid darken($background, 3%);
	.post {
		padding: 0.5em;
		.post-meta {
			display: block;
			font-size: 0.8em;
			text-transform: uppercase;
			color: lighten($dark, 29%);
		}
		h3, .post-meta, .read-more-link {
			text-align: center;
			a {
				color: $dark;
				transition: all 1s;
			}
		}
		.read-more-link {
			color: $primary-brand;
		}
		&:hover {
			h3{
				a {
					color: $primary-brand;
				}
			}
		}
	}
	&:nth-child(4n), &:last-child {
		border: none;
	}
}

.post-single {
	padding: 0.8em;
	border-right: 1px solid darken($background, 3%);
	border-left: 1px solid darken($background, 3%);
	border-top: 1px solid darken($background, 3%);
	border-bottom: 1px solid darken($background, 3%);
	.post-title {
		margin-bottom: 0;
	}
	.post-meta {
		margin-top: 0.2em;
		font-size: 0.8em;
	}
	hr {
		border: 0;
		border-bottom: 1px solid darken($background, 3%);
	}
	.footnotes {
		margin-top: 2em;
		ol {
			font-size: 0.8em;
		}
	}
	sup {
		font-size: 0.6em; 
	}
}

body.post { 
	form.cta-newsletter {
		width: 40em;
		height: 40px;
		margin: 2em auto;
		padding: 0.8em;
		border: 1px solid darken($background, 3%);
		input, button {
			height: 45px;
		}
		input {
		}
		button {
		    height:45px;
		}
	}
}

.paginator {
	list-style: none;
	padding: 0;
	li {
		text-align: center;
		display: inline-block;
		padding: 5px 20px;
		border: 2px solid darken($background, 3%);
		border-radius: 150px;
		min-width: 80px;
	}
}

footer {
	margin-top: 4em !important;
	padding-top: 4em;
	border-top: 1px solid darken($background, 3%);
	font-size: 0.9em;
	.row {
		margin: 0;
    	padding: 0 1.5em;
	}
	ul {
		li {
			margin-top: 5px;
		}
		
	}
	.menu {
		list-style: none;
		padding: 0; margin: 0;
		li:first-child{
			padding-left: 0;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.8em;
		}
	}
	.fa-ul {
		margin-top: 0;
		li:first-child{
			margin-left: -25px;
			padding-left: 0;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.8em;
		}
	}

	a {
		color: lighten($dark, 19%);
		text-decoration: none;
		&:hover {
			color: $primary-brand;
		}
	}
}
