/* Small screen and up */
@media (min-width: 768px) {
	header {
		.brand {
			-webkit-clip-path: polygon(5% 0%, 100% 0, 100% 95%, 10% 100%);
			clip-path: polygon(5% 0%, 100% 0, 100% 95%, 10% 100%);
			// padding-left: 5em;
		}
	}
	header {
		&.blog, &.post, &.page, &.home {
			min-height: 40vh;
			.container-fluid {height: 40vh; position: relative;}
		}
	}
	.post-single {
		width: 40em;
		margin: 0 auto;
		img {
			width: 50em;
			padding: 0.8em;
			border: 1px solid darken($background, 3%);
			background: $background;
			transform: translateX(-5.8em);

		}
		blockquote {
			width: 45em;
			padding: 0.8em;
			border: 1px solid darken($background, 3%);
			background: $background;
			transform: translateX(-5.8em);
			p {
				font-size: 22px; 
				font-family: $brand-font;
			}
		}
		hr {
			width: 41.6em;
			transform: translateX(-0.8em);
		}
	}
	body.post {
		form.cta-newsletter {
			width: 40em;
		}
	}
}


/* Medium screen and up */
@media (min-width: 992px) {

}

/* Large screen and up */
@media (min-width: 1200px) {

}
