/* Small screen and up */
@media (min-width: 768px) {

	nav {
		.navbar {
			border-bottom: 1px solid darken($background, 3%);
			padding: 0.5em 0 0.2em;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.brand {
			img {
				width: 45px;
				height: 45px;

			}
		}
		.menu {
			ul {
				padding: 0;
				list-style: none;
				li {
					display: inline-block; 
					padding-left: 2em;
					font-weight: 700;
					font-size: 14px;
					a {
						color: $dark;
						text-decoration: none; 
					}
				}
			}
		}
	}
	.post-single {
		width: 40em;
		margin: 0 auto;
		img {
			width: 50em;
			padding: 0.8em;
			border: 1px solid darken($background, 3%);
			background: $background;
			transform: translateX(-5.8em);

		}
		blockquote {
			width: 45em;
			padding: 0.8em;
			border: 1px solid darken($background, 3%);
			background: $background;
			transform: translateX(-5.8em);
			p {
				font-size: 22px; 
				font-family: $brand-font;
			}
		}
		hr {
			width: 41.6em;
			transform: translateX(-0.8em);
		}
	}
	body.post {
		form.cta-newsletter {
			width: 40em;
		}
	}
}


/* Medium screen and up */
@media (min-width: 992px) {

}

/* Large screen and up */
@media (min-width: 1200px) {

}
