html, body {
	margin: 0; padding: 0;
}
.container {margin: 0 auto}
.row {    width: 100%;
    margin: 0;}

 .hundred {
 	height: 100%; 
 }

.img-responsive {
	width: 100%;
	height: auto;
}

hr {
	border: 0;
	border-bottom: 1px solid darken($background, 3%);
}
	
div.home {
	padding: 1em;
	#contact {
		width: 100%;
		form {
			min-width: 100%;
		}
	}	
}
