---
layout: default
---

<div class="home">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          <h1>Hi, you've reached Bakker Labs. You're a little bit early, but that's okay.</h1>
          <p>We're completely ready for you, just the website isn't yet. We're working really hard trying to find some spare hours here and there to finish it. In the meantime, please check out the latest post on our blog: {% for item in site.posts limit:1%}<a href="{{item.url}}">{{item.title}}</a>{% endfor %}&#8230;</p>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          {% include contactform.html %}
        </div>
      </div>
    </div>
</div>